# =========================
# Python
# =========================
__pycache__/
*.py[codz]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env
.envrc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Vector Databases (RAG)
# =========================
vector_db/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
wheels/

# =========================
# Testing / Coverage
# =========================
.coverage*
htmlcov/
.pytest_cache/
.tox/

# =========================
# IDEs / Editors
# =========================
.spyderproject
.spyproject
.ropeproject
.ruff_cache/
.mypy_cache/
.pytype/
.pyre/
.cursorignore
.cursorindexingignore

# =========================
# Misc
# =========================
*.log
*.sqlite3
